<!--<div class="order-detail-form-container payments md-background-bg md-whiteframe-1dp">
  <div class="pb-16" layout="row" layout-align="start center">
    <md-icon md-font-icon="icon-map-marker" class="m-0 mr-16"></md-icon>
    <div class="h2 secondary-text" translate="PROVIDER.LOCATIONS">Locations</div>
  </div>
  <div class="provider--map--general">
    <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
      <ui-gmap-marker coords="vm.simpleMarkerMap.marker.coords" idkey="vm.simpleMarkerMap.marker.id"></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>-->
<div class="widget-group" layout="row" flex="100" layout-wrap>
  <!-- WIDGET INFO -->
  <ms-widget flippable="false" layout="column" flex="100">
    <!-- Front -->
    <ms-widget-front class="white-bg order-detail-form-container">
      <div class="pb-16" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-truck" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text" translate="PROVIDER.BASIC_INFO">INFO</div>
      </div>
      <div layout-gt-sm="row" layout-align="start center">
        <md-input-container class="md-block" flex-gt-sm>
          <label translate="PROVIDER.COMPANY">COMPANY</label>
          <input type="text" ng-model="vm.headquarter.name" required />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label translate="PROVIDER.CITY">CITY</label>
          <input type="text" ng-model="vm.headquarter.city" required />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label translate="PROVIDER.ADDRESS">ADDRESS</label>
          <input type="text" ng-model="vm.headquarter.address" required />
        </md-input-container>
      </div>
      <div layout-gt-sm="row" layout-align="start center">
        <md-input-container class="md-block" flex-gt-sm>
          <label translate="PROVIDER.PHONE">PHONE</label>
          <input type="text" ng-model="vm.headquarter.payment.phoneNumber" required />
        </md-input-container>
        <!--<md-input-container class="md-block" flex-gt-sm>
          <label translate="PROVIDER.CELLPHONE">CellPhone</label>
          <input type="text" ng-model="vm.headquarter.representative.cellPhoneNumber" required />
        </md-input-container>-->
        <md-input-container class="md-block" flex-gt-sm>
          <label translate="PROVIDER.EMAIL">CITY</label>
          <input type="email" ng-model="vm.headquarter.payment.email" required />
        </md-input-container>
      </div>
    </ms-widget-front>
    <!-- / Front -->
  </ms-widget>
  <!-- / WIDGET INFO -->
</div>
<div class="widget-group" layout="row" flex="100" layout-wrap>
  <!-- WIDGET SERIVCES -->
  <ms-widget flippable="false" layout="column" flex="100" flex-gt-md="40">
    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pb-16 title--padding border-bottom" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-cash-100" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text" translate="PROVIDER.SERVICES">Services</div>
      </div>
      <div class="scrollable" ms-scroll style="height: 400px;">
        <div class="p-16 pv-20 border-bottom" layout="row" layout-align="space-between center" 
          ng-repeat="service in vm.services">
          <div>
            <div class="h3">{{service.name | uppercase}}</div>
            <span class="secondary-text">{{service.description}} </span>
          </div>
          <md-menu>
            <md-button class="md-icon-button" aria-label="More" translate translate-attr-aria-label="More Information">
              <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
            </md-button>
            <md-menu-content width="3">
              <md-menu-item>
                <md-button ng-click="vm.editServiceDialog($event, service)" aria-label="Toggle done" 
                  translate-attr-aria-label="PROVIDER.DETAIL">
                  <md-icon md-font-icon="icon-border-color" class="s18 blue-fg"></md-icon>
                  <span ng-show="!task.completed" translate="PROVIDER.DETAIL">Editar</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.deleteService($event, service, vm.headquarter)" aria-label="Toggle important" translate-attr-aria-label="PROVIDER.DELETE">
                  <md-icon md-font-icon="icon-delete" class="s18 red-600-fg"></md-icon>
                  <span translate="PROVIDER.DELETE">Remove important</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
      <div class="ph-16 pv-20 " layout="row" layout-align="end end">
        <md-button class="md-fab md-primary md-mini" ng-click="vm.addOtherService($event, vm.headquarter)" aria-label="Add Service">
          <md-tooltip md-direction="left">
            <span>Agregar otro servicio</span>
          </md-tooltip>
          <md-icon md-font-icon="icon-plus" class="s30"></md-icon>
        </md-button>
      </div>
      <!-- /Button Add answer -->
    </ms-widget-front>
    <!-- / Front -->
  </ms-widget>
  <!-- / WIDGET SERVICES -->
  <!-- WIDGET MAP -->
  <ms-widget flippable="false" layout="column" flex="100" flex-gt-md="60">
    <!-- Front -->
    <ms-widget-front class="white-bg">
      <div class="pb-16 title--padding" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-map-marker" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text" translate="PROVIDER.LOCATION">Locations</div>
      </div>
      <div>
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' dragging="vm.map.dragging" draggable="true" control="vm.map.control"
          events="vm.map.events">
          <ui-gmap-marker ng-repeat="marker in vm.map.markers" coords="marker.coords" idkey="marker.id">
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </ms-widget-front>
    <!-- / Front -->
  </ms-widget>
  <!-- / WIDGET MAP -->
</div>
