<div id="invoice" class="compact page-layout blank" layout="row" ms-scroll>
  <div class="invoice-container">
    <!-- INVOICE -->
    <div class="card md-whiteframe-8dp">
      <div class="header">

        <div layout="row" layout-align="start center" class="md-padding" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Regresar a inspecciones" ng-click="vm.gotoConsolidado()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center" flex>
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.review.type}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalles de la inspección</span>
                    </div>
                </div>
                <md-button class="md-icon-button" aria-label="Imprimir" ng-click="vm.openPdf(vm)">
                    <md-icon md-font-icon="icon-printer"></md-icon>
                </md-button>
            </div>

            <div layout="row" layout-align="end center" flex>
              <span>Esta revision se logro con inspector </span>
              <img src="" alt="logo" />
            </div>
        </div>



        <div layout="row">
          <div flex>
            <h2>Revisó</h2>
            <p> {{vm.review.userReview.name}} </p>
          </div>
          <div flex>
            <h2>Dueño del vehículo</h2>
            <p> Flota: {{vm.review.customer.localName}} </p>
            <p> CDA: {{vm.review.customer.channelName}} </p>
            <p> Sede: {{vm.review.customer.distributorName}} </p>
          </div>
          <md-card flex>
            <md-card-content>
              <p>Placa: {{vm.review.vehicle.plate}} </p>
              <p>Marca:</p>
              <p>Linea:</p>
              <p>Motor:</p>
              <p>Chasis</p>
              <p>VIN:</p>
            </md-card-content>
          </md-card>
          <div layout="column" flex>
            <md-card flex>
              <h2>Expediente</h2>
            </md-card>
            <md-card flex>
              <h2>Alerta</h2>
            </md-card>
          </div>
        </div>
      </div>

      <div class="content">
        <div layout="row" id="pics">
          <h2>Fotos del vehículo</h2>
        </div>
        <div layout="row" id="pics">
          <div layout="column" class="photos md-padding" ng-repeat="image in vm.review.result.images track by $index | limitTo:4" flex>
            <img ng-src="{{image}}" alt="logo" style="max-height:300px; max-width: 230px;" />
          </div>
        </div>
        <div layout="row">
          <h2>Cosas por revisar</h2>
        </div>
        <table class="simple invoice-table">
          <thead>
            <th>CÓDIGO</th>
            <th>ITEM</th>
            <th>CALIFICACIÓN</th>
            <th>OBSERVACIÓN</th>
          </thead>
          <tbody>
            <tr ng-repeat="f in vm.checksFalse">
              <td>
                <div>
                  {{f.code}}
                </div>
              </td>
              <td>
                {{f.name}}
              </td>
              <td>
                {{f.value}}
              </td>
              <td>
                {{f.comment | limitTo:100}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div layout="row">
        <h2>Revisiones correctas</h2>
      </div>
      <div class="cascading-cotainer">
        <div class="cascading-item" ng-repeat="(key, tiles) in vm.categories">
          <div class="content-wrapper">
            <div class="content pv-24 ph-16">
                <div class="title h2">
                    {{key}}
                </div>
                <div class="text pt-8" ng-repeat="item in tiles track by $index">
                    {{item.name}}
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer" class="md-padding">
        <div layout="row" layout-align="center center">
          <div flex="35" class="signature">
            <hr>
            <p>Firma técnico</p>
            <p>CDA</p>
            <p>cc. 1091010123</p>
          </div>
        </div>
      </div>
    </div>
    <!-- / INVOICE -->
    <!-- Use the following element to add breaks to your pages -->
    <!-- This will make sure that the section after this element will be printed on a new page -->
    <div class="page-break"></div>
  </div>
</div>
