<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

  <div class="logo" layout="row" layout-align="start center">
    <span class="logo-text">{{vm.categorie.name}}</span>
  </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>

  <div class="navigation-simple" layout="column">
    <md-button class="item" aria-label="All Tasks"
    translate translate-attr-aria-label="REVIEW.ALL_CATEGORIES"
    ng-class="{'selected':vm.showAllTasks}" ng-click="vm.resetFilters()">
    <div layout="row" layout-align="start center">
      <md-icon md-font-icon="icon-view-headline" class="s16"></md-icon>
      <span class="title" translate="REVIEW.ALL_CATEGORIES">All Tasks</span>
    </div>
  </md-button>

  <div class="item subheader" translate="REVIEW.CATEGORIES">
    Tags
  </div>

  <md-button class="tag item" aria-label="tag {{tag.label}}" ng-repeat="tag in vm.tags"
    ng-click="vm.toggleCategoryFilter(tag)"
    ng-class="{'selected':vm.isTagFilterExists(tag)}">
    <md-icon md-font-icon="icon-label" class="s16" ng-style="{'color' : tag.color}"></md-icon>
    <span class="title">{{tag.label}}</span>
  </md-button>
</div>

</md-content>
<!-- / SIDENAV CONTENT -->
