<div class="demo-sidenav">
    <md-list>
        <md-subheader class="md-no-sticky">Sidenav Demo</md-subheader>

        <md-list-item>
            <p>Información de Placa</p>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item>
            <p>Información de Matrícula</p>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item>
            <p>Registro del Vehículo</p>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item>
            <p>Propietario</p>
        </md-list-item>

        <md-divider></md-divider>

    </md-list>
</div>