<div id="detalles-vehiculo" class="page-layout simple tabbed" layout="column">
  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <md-button class="goto-products-button md-icon-button" aria-label="Go to products"
        ng-click="vm.goToVehicles()"
        translate translate-attr-aria-label="EC.GO_TO_PRODUCTS">
        <md-icon md-font-icon="icon-arrow-left"></md-icon>
      </md-button>
      <div layout="row" layout-align="start center">
        <div class="product-image" hide-xs>
          <img ng-src="{{vm.vehicle.image}}">
        </div>
        <div layout="column" layout-align="start start">
          <div class="h2">
            {{vm.vehicle.plate.number}}
          </div>
          <div class="subtitle secondary-text">
            <span translate="VEHICLES.CUSTOMER">Customer</span>: {{vm.vehicle.customer.localName}}
          </div>
        </div>
      </div>
    </div>
    <div>
      <md-button class="md-raised md-warn">
        <span translate="VEHICLES.DELETE">DELETE</span>
      </md-button>
      <!--<md-button type="submit" class="md-raised md-primary" ng-disabled="vehicleForm.$invalid"
        aria-label="Save" ng-click="vm.saveVehicle()">
        <span translate="VEHICLES.SAVE">SAVE</span>
      </md-button>-->

      <md-button type="submit" class="md-raised md-primary" ng-disabled="vehicleForm.$invalid"
        aria-label="Save" ng-click="vm.saveVehicle()">
        <span translate="VEHICLES.SAVE">SAVE</span>
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content">
    <form name="vehicleForm" ng-submit="vehicleForm.$valid">
      <md-tabs md-dynamic-height>
        <md-tab>
          <md-tab-label>
            <span translate="VEHICLES.BASIC_INFO">Basic Info</span>
          </md-tab-label>
          <md-tab-body>
            <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
              <div layout-gt-sm="row" layout-align="start center">
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.PLATE">Width</label>
                  <input type="text" ng-model="vm.vehicle.plate.number" disabled />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.MODEL">Height</label>
                  <input type="number" ng-model="vm.vehicle.vehicleData.model" required />
                </md-input-container>
                <!--<md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.BRAND">Depth</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.brand" />
                  </md-input-container>-->
                <md-autocomplete flex required
                  md-input-name="autocompleteField"
                  md-input-minlength="2"
                  md-input-maxlength="18"
                  md-no-cache="vm.noCache"
                  md-selected-item="vm.vehicle.vehicleData.brand"
                  md-search-text="vm.searchBrand"
                  md-items="item in vm.querySearchBrands(vm.searchBrand)"
                  md-item-text="item"
                  md-require-match
                  md-floating-label="{{'VEHICLES.BRAND'|translate}}" >
                  <md-item-template>
                    <span md-highlight-text="vm.searchBrand">{{item}}</span>
                  </md-item-template>
                  <md-not-found>
                    No existe, la <a ng-click="vm.newBrand(vm.searchBrand)">Creamos!</a>
                  </md-not-found>
                  <div ng-messages="vehicleForm.autocompleteField.$error" ng-if="vehicleForm.autocompleteField.$touched">
                    <div ng-message="required">You <b>must</b> have a favorite state.</div>
                    <div ng-message="md-require-match">Please select an existing state.</div>
                    <div ng-message="minlength">Your entry is not long enough.</div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                  </div>
                </md-autocomplete>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.CYL">CYL</label>
                  <input type="number" ng-model="vm.vehicle.vehicleData.cyl" required />
                </md-input-container>
              </div>
              <div layout-gt-sm="row" layout-align="start center">
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.COLOR">COLOR</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.color" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.BODYWORK">BODYWORK</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.bodyWork" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.SERVICE">SERVICE</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.service" />
                </md-input-container>
                <!--<md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.CLASS">Depth</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.class" />
                  </md-input-container>-->
                <md-autocomplete flex required
                  md-input-name="autocompleteFieldClasses"
                  md-input-minlength="2"
                  md-input-maxlength="18"
                  md-no-cache="vm.noCache"
                  md-selected-item="vm.vehicle.vehicleData.class"
                  md-search-text="vm.searchClass"
                  md-items="item in vm.querySearchClasses(vm.searchClass)"
                  md-item-text="item"
                  md-require-match
                  md-floating-label="{{'VEHICLES.CLASS'|translate}}" >
                  <md-item-template>
                    <span md-highlight-text="vm.searchClass">{{item}}</span>
                  </md-item-template>
                  <md-not-found>
                    No existe, la <a ng-click="vm.newClass(vm.searchClass)">Creamos!</a>
                  </md-not-found>
                  <div ng-messages="vehicleForm.autocompleteFieldClasses.$error" ng-if="vehicleForm.autocompleteFieldClasses.$touched">
                    <div ng-message="required">You <b>must</b> have a favorite state.</div>
                    <div ng-message="md-require-match">Please select an existing state.</div>
                    <div ng-message="minlength">Your entry is not long enough.</div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                  </div>
                </md-autocomplete>
              </div>
              <div layout-gt-sm="row" layout-align="start center">
                <!--<md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.LINE">LINE</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.line" />
                  </md-input-container>-->
                <md-autocomplete flex required
                  md-input-name="autocompleteFieldLine"
                  md-input-minlength="1"
                  md-input-maxlength="18"
                  md-no-cache="vm.noCache"
                  md-selected-item="vm.vehicle.vehicleData.line"
                  md-search-text="vm.searchLine"
                  md-items="item in vm.querySearchLines(vm.searchLine)"
                  md-item-text="item"
                  md-require-match
                  md-floating-label="{{'VEHICLES.LINE'|translate}}" >
                  <md-item-template>
                    <span md-highlight-text="vm.searchLine">{{item}}</span>
                  </md-item-template>
                  <md-not-found>
                    No existe, la <a ng-click="vm.newLine(vm.searchLine)">Creamos!</a>
                  </md-not-found>
                  <div ng-messages="vehicleForm.autocompleteFieldLine.$error" ng-if="vehicleForm.autocompleteFieldLine.$touched">
                    <div ng-message="required">You <b>must</b> have a favorite state.</div>
                    <div ng-message="md-require-match">Please select an existing state.</div>
                    <div ng-message="minlength">Your entry is not long enough.</div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                  </div>
                </md-autocomplete>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.CAPACITY">CAPACITY</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.capacity" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.FUEL">FUEL</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.fuel" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.MOTOR">MOTOR</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.motor" />
                </md-input-container>
              </div>
              <div layout-gt-sm="row" layout-align="start center">
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.SERIE">SERIE</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.serie" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.CHASSIS">CHASSIS</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.chassis" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.VIN">VIN</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.vin" required />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate="VEHICLES.MILEAGE">MILEAGE</label>
                  <input type="number" ng-model="vm.vehicle.vehicleData.mileage" required />
                </md-input-container>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <span translate="VEHICLES.OWNER">OWNER</span>
          </md-tab-label>
          <md-tab-body>
            <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
              <div layout-gt-sm="row" layout-align="start center">
                <md-input-container class="md-block" flex-gt-sm>
                  <md-icon md-font-icon="icon-account-box"></md-icon>
                  <label translate="VEHICLES.OWNER_FULLNAME">OWNER FULLNAME</label>
                  <input type="text" ng-model="vm.vehicle.vehicleData.owner.fullName"  />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <md-icon md-font-icon="icon-account-key"></md-icon>
                  <label translate="CUSTOMERS.IDENTIFICATION">Identification</label>
                  <md-icon></md-icon>
                  <input ng-model="vm.vehicle.vehicleData.owner.identification.number" type="text">
                </md-input-container>
              </div>
              <md-autocomplete flex required
                md-input-name="autocompleteFieldCustomer"
                md-input-minlength="2"
                md-input-maxlength="18"
                md-no-cache="vm.noCache"
                md-selected-item="vm.selectedCustomer"
                md-selected-item-change="vm.selectedCustomerChange(item)"
                md-search-text="vm.searchCustomer"
                md-items="item in vm.querySearchCustomers(vm.searchCustomer)"
                md-item-text="item.name"
                md-require-match
                md-floating-label="{{'VEHICLES.CLIENT_VEHICLE'|translate}}" >
                <md-item-template>
                  <span md-highlight-text="vm.searchCustomer">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                  No existe.
                </md-not-found>
                <div ng-messages="vehicleForm.autocompleteFieldCustomer.$error" ng-if="vehicleForm.autocompleteFieldCustomer.$touched">
                  <div ng-message="required">You <b>must</b> have a favorite state.</div>
                  <div ng-message="md-require-match">Please select an existing state.</div>
                  <div ng-message="minlength">Your entry is not long enough.</div>
                  <div ng-message="maxlength">Your entry is too long.</div>
                </div>
              </md-autocomplete>
              <!--<md-input-container class="md-icon-float md-block">
                <md-icon md-font-icon="icon-clipboard"></md-icon>
                <label translate="VEHICLES.CLIENT_VEHICLE">CLIENTVEHICLE</label>
                <md-icon></md-icon>
                <md-select name="customerSelected" ng-model="vm.customerSelected"
                  style="min-width: 200px;" ng-required >
                  <md-option ng-value="customer"
                    ng-repeat="customer in vm.customers"
                    ng-selected="customer.name === vm.vehicle.customer.localName ? true : false"
                    >
                    {{customer.name}}
                  </md-option>
                </md-select>
                <div ng-messages="vehicleForm.customerSelected.$error">
                  <div ng-message="required">Esto es necesario.</div>
                </div>
                <br/>
                </md-input-container>-->
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <span translate="VEHICLES.DOCUMENTS">Documents</span>
          </md-tab-label>
          <md-tab-body>
            <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
              <h2 class="md-subhead" ng-if="vm.vehicle.documents.length === 0">
                <span>No tiene documentos registrado.</span>
              </h2>
              <md-tabs md-selected="vm.selectedIndex" md-dynamic-height>
                <md-tab ng-repeat="document in vm.vehicle.documents">
                  <md-tab-label>
                    <span>{{document.type | uppercase}}</span>
                  </md-tab-label>
                  <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                      <md-card md-theme="default" md-theme-watch>
                        <md-card-content>
                        <div layout-xs="column" layout="row">
                          <md-input-container class="md-block" flex-gt-sm>
                            <label translate="VEHICLES.DOCUMENT_NUMBER">NUMBER</label>
                            <input type="number" ng-model="document.number" required />
                          </md-input-container>
                          <md-input-container class="md-block" flex-gt-sm ng-if="document.type === 'RTM'">
                            <label translate="VEHICLES.DIAGNOSTICS_CENTER">DIAGNOSTICS CENTER</label>
                            <input type="text" ng-model="document.diagnosticsCenter" />
                          </md-input-container>
                          <md-input-container class="md-block" flex-gt-sm ng-if="document.type === 'SOAT'">
                            <label translate="VEHICLES.INSURANCE_COMPANY">Insurance Company</label>
                            <input type="text" ng-model="document.insuranceCompany" />
                          </md-input-container>
                          <md-input-container class="md-block" flex-gt-sm >
                            <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                            <label translate="VEHICLES.DOCUMENT_COST">COST</label>
                            <input type="number" ng-model="document.cost" />
                          </md-input-container>
                        </div>
                        <div layout-xs="column" layout="row">
                          <div flex class="date-container">
                            <label translate="VEHICLES.EXPEDITION_DATE">Start Date</label>
                            <md-datepicker flex ng-model="document.expeditionDate" md-placeholder="Start Date"></md-datepicker>
                          </div>
                          <div flex class="date-container">
                            <label translate="VEHICLES.EXPIRATION_DATE">Start Date</label>
                            <md-datepicker flex ng-model="document.expirationDate" md-placeholder="Start Date"></md-datepicker>
                          </div>
                        </div>
                        </md-content>
                        <md-card-actions layout="row">
                          <div>
                            <md-button class="md-warn" ng-click="vm.removeDocument(document)">
                              <span translate="VEHICLES.DELETE">DELETE</span>
                            </md-button>
                          </div>
                        </md-card-actions>
                      </md-card>
                    </div>
                  </md-tab-body>
                </md-tab>
              </md-tabs>
              <!-- ADD NEW DOCUMENTS -->
              <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <h3 flex="20">
                  <span translate="VEHICLES.ADD_OTHER_DOCUMENT">ADD_DOCUEMNT</span> :
                </h3>
                <md-input-container class="md-icon-float md-block" flex="30">
                  <label translate="VEHICLES.DOCUMENT_TYPE">DOCUMENT_TYPE</label>
                  <md-select ng-model="vm.documentType" >
                    <md-option
                      ng-repeat="document in vm.allDocuments"
                      ng-selected="$first">
                      {{document | uppercase }}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-button class="add-tab md-raised" ng-click="vm.addDocument(vm.documentType)" >
                  <span translate="VEHICLES.ADD_DOCUMENT">ADD_DOCUEMNT</span>
                </md-button>
              </section>
              <!-- /ADD NEW DOCUMENTS -->
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <span translate="VEHICLES.REVIEWS">Reviews</span>
          </md-tab-label>
          <md-tab-body>
            <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
              <table class="simple" ms-responsive-table>
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Fecha Revisión</th>
                    <th class="text-right">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="review in vm.vehicle.reviews">
                    <td>{{review.type}}</td>
                    <td>{{review.date | date:'medium'}}</td>
                    <td class="text-right">
                      <md-button class="edit-button md-icon-button"
                        ng-click="vm.goToReview(review.localId)" aria-label="Review Detail"
                          translate translate-attr-aria-label="ADMIN.REVIEW_DETAIL">
                        <md-icon md-font-icon="icon-content-paste" class="s30"></md-icon>
                      </md-button>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </md-tab-body>
        </md-tab>
        <!--<md-tab>
          <md-tab-label>
            <span translate="VEHICLES.IMAGES">Vehicle Images</span>
          </md-tab-label>
          <md-tab-body>
            <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
              <div layout="row" layout-align="start start" layout-wrap>
                <div ng-repeat="(key, image) in vm.vehicle.images track by $index" ng-switch="image.type">
                  <div class="product-image uploading" ng-switch-when="uploading" layout="row"
                    layout-align="center center">
                    <div class="overlay" layout="column" layout-align="center center">
                      <md-progress-linear md-mode="determinate"
                        value="{{image.file.progress() * 100}}">
                      </md-progress-linear>
                    </div>
                    <img class="media" flow-img="image.file">
                  </div>
                  <div class="product-image" ng-switch-when="image" layout="row"
                    layout-align="center center">
                    <img class="media" ng-src="{{image.url}}">
                    <md-button class="md-fab delete-image" aria-label="delete" ng-click="vm.deteleImage(vm, image, key)">
                      <md-icon md-font-icon="icon-delete"></md-icon>
                    </md-button>
                  </div>
                  <div class="product-image" ng-switch-when="cloudinary" layout="row"
                    layout-align="center center">
                    <cl-image public-id="{{image.public_id}}" class="media" format="jpg"/>
                    <md-button class="md-fab delete-image" aria-label="delete" ng-click="vm.deteleImage(vm, image, key)">
                      <md-icon md-font-icon="icon-delete"></md-icon>
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
          </md-tab-body>
        </md-tab>-->
      </md-tabs>
    </form>
  </div>
  <!-- / CONTENT -->
</div>
